.form{
    display: flex;
    justify-content: center;
    margin-top: 10%;

}
.input-container{
    margin-top: 3%;
    display: flex;
}
.input-box{
    border-radius: 30px;;
    background-color: #FCF8E8;
    border-style: none;
    height: 50px;
    width: 300px;
    font-size: 30px;;
}
.ind-questions{
    padding-right:15%;
}
.label{
    font-size: 40px;
    display: flex;
    justify-content: left;
}


.button-container{
    margin-top: 7%;
    margin-left: 40%; 
}
.button{
    background-color: #FCF8E8;
    border-radius: 50px;
    border: none;
    margin: 30px;
    display:block;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 10%;
    font-size: 20px;
}